.full {
  @media screen and (min-width: 768px) {
    gap: 0;

    &::before {
      margin-left: 50%;
      transform: translateX(-50%);
    }

    .item {
      grid-template-columns: 1fr auto 1fr;

      &:hover > .icon {
        background-color: #55604e;
        color: white;
      }

      &:hover > .description > .title {
        /* background-color: #55604E; */
        color: white;

        &::after {
          width: 100%;
        }
      }

      .title {
        position: relative;
        line-height: 28px;
        margin-bottom: 0.25rem;

        &::after {
          content: "";
          position: absolute;
          background-color: #55604e;
          width: 0;
          height: 100%;
          z-index: -1;

          transition: width 150ms cubic-bezier(0.4, 0, 0.2, 1);
        }
      }

      &:nth-child(odd) {
        grid-template-areas: "content icon .";

        .description {
          align-items: end;
          text-align: right;
        }

        .title {
          padding: 0 2rem 0 1rem;
          margin-right: -2rem;

          &::after {
            right: 0;
            border-radius: 9999px 0 0 9999px;
          }
        }
      }

      &:nth-child(even) {
        grid-template-areas: ". icon content";

        .description {
          align-items: start;
          text-align: left;
        }

        .title {
          padding: 0 1rem 0 2rem;
          margin-left: -2rem;

          &::after {
            left: 0;
            border-radius: 0 9999px 9999px 0;
          }
        }
      }
    }
  }
}

.item {
  display: grid;
  position: relative;
  grid-template-columns: auto 1fr;
  grid-template-areas: "icon content";
  gap: 1rem;
}

.icon {
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1), background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description {
  grid-area: content;
  display: flex;
  flex-direction: column;
}
