@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ocoda-gradient: linear-gradient(
    135deg,
    #3a1c71 0%, /** purple-950 */
    #a85575 45%, /** red-600 */
    #ec9079 75%, /** sand-400 */
    #f9a57a 100% /** orange-300 */
  );
  --ocoda-gradient-inverse: linear-gradient(
    135deg,
    #f9a57a 0%, /** orange-300 */
    #ec9079 25%, /** sand-400 */
    #a85575 55%, /** red-600 */
    #3a1c71 100% /** purple-950 */
  );
}

.bg-ocoda-gradient {
  background-image: var(--ocoda-gradient);
}

.bg-ocoda-gradient-inverse {
  background-image: var(--ocoda-gradient-inverse);
}

.border-shadow {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.h-full-offset-4 {
  height: 100%;
  transform: translateY(1rem);
}

.mirror-x {
  transform: scale(-1, 1);
}

.mirror-y {
  transform: scale(1, -1);
}
